@import "app/lib/bootstrap/scss/bootstrap";

$primary: #FFD600 !default;

body { padding-top: 70px; }

.card {
    border: none;
    border-radius: 0;
    background-size: cover;
    background-position: center center;

    &.card-inverse {

        .card-text {
            color: rgba(255,255,255,.9);

             .text-muted {
                 color: rgba(255,255,255,.7) !important;
             }
        }

        .card-img-overlay {
            background-color: rgba(0,0,0,.3);
        }

        .card-title {
            word-break: break-all;
        }

        .card-content {
            
            position: absolute;
            padding: 1.25rem;

            &.bottom {
                bottom: 0;
                left: 0;
            }

            &.middle {
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

h2 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid lightgrey; 
    line-height: 14px;
    margin: 60px 0 70px; 

    span { 
        background:#fff; 
        padding:0 10px; 
        font-weight: lighter;
        font-size: 20px;
        color: lightgrey;
    }
}

.social-icons img {
    width: 32px;
    
    .yellow {
        color: $primary;
    }
}

.highlights {

    > div {
        padding: 15px;

        .card {
            height: 400px;
        }

        &:first-child {

            .card-title {
                font-size: 64px;
                font-weight: lighter;
            }
        }

        &:nth-child(2) {
            background-color: $primary;

            .card {
                background: transparent;
                height: 100%;

                h4.card-title {
                    font-size: 45px;
                    text-transform: uppercase;
                    font-family: 'Fjalla One', sans-serif;
                }

                h5.card-title {
                    color: #333;
                    font-size: 30px;
                    font-weight: lighter;
                }

                @include media-breakpoint-down(xs) {

                    .card-content {
                        
                        position: initial;

                        &.middle {
                            top: initial;
                            transform: initial;
                        }
                    }
                }
            }
        }

        &:last-child {

            .card {

                .card-title {
                    font-size: 40px;
                    font-weight: lighter;
                }
            }
        }
    }
}